
/* Search.css */

.inputbox{
    width: 650px;
    text-align: center;
    margin: 0 auto;
  }
  .inputbox input{
    width: 100%;
    border-radius: 50px !important;
  }
  .inputbox .sicon{
    top: 20px;
    left: 610px;
  }
  .textbox{
    color: #fff;
  }
  .textbox h2{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 100px !important;
  }
  .searchinput{
    height: 55px;
  }

  /* sidenav.css */
  .usericonbox{
    width: 150px;
    height: 150px;
    background-size: cover;
  }
  .offcanvas-header{
    justify-content: end;
  }

  /* tobnav */
  .authbox>a{
    color:#3E54AC !important;
    border-color: #3E54AC;
  }
  .authbox>a:hover{
    background-color: #3E54AC;
    color:#fff !important;
  }

  /* loggedTop */
  .outbox{
    color: #3E54AC !important;
    border-color: #3E54AC;
  }
  .outbox:hover{
    background-color: #3E54AC;
    color:#fff !important;
  }

  /* notlogin */
  .notlogbtn{
    background-color: #3E54AC;
    color: #fff !important;
  }
  .notlogbtn:hover{
    background-color: #a0b0f0;
    border-color: #a0b0f0;
  }