.popup_background{
    /* position: fixed;/ */
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    z-index: 999;
}

.disappeared{
    display: none;
}

.popup{
    position: absolute;
    top: 68%;
    left: 20%;
    transform: translate(-50%, -80%);
    background-color: rgb(253, 250, 250);
    width: 500px;
    height: 640px;
    border-radius: 30px;
    /* border: 1px solid rgba(116, 115, 115, 0.5); */
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.popup::before{
    content: "";
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.closeBtn{
    font-size: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.greeting{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
}

.warning{
    color: rgb(237, 59, 59);
}
.text{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}
.input_container {
    position: absolute;
    left: 40px;
    bottom: 30px;
  }

  .checkbox {
    margin-right: 5px;
  }
  
  .label {
    font-size: 15px;
    font-weight: 700;
  }


  /* gitpopup */

  .gitpopup{
    position: absolute;
    background-color: rgb(253, 250, 250);
    top: 30%;
    left: 36%;
    width: 500px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .gtop{
    border: 1px solid #333;
  }

  .gittop{
    font-size:28px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .members{
    margin-right: 20px;
  }

  .yjjy, .joung{
    font-size:18px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  .address{
    margin-left: 20px;
    font-size:15px;
    border: 1px solid #c3c0c0;
    border-radius: 15px;
    padding: 5px 20px;
  }

  .address:hover{
    background-color: rgb(93, 69, 156,0.2);
  }

  