 .search-world{
    width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0px 80px;
  }
  .search-world input{
    width: 100%;
    border-radius: 50px !important;
  }
  .search-world .sicon{
    top: 15px;
    left: 600px;
    color: #fff;
    
  }

  .search-world .btn{
    background-color: #3E54AC;
  }
  .textbox{
    color: #fff;
  }
  .textbox h2{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 100px !important;
  }
  .searchbox{
    height: 55px;
  }


  .search-result{
    height: 1000px;
    border: 3px solid #3E54AC;
    border-radius: 15px
  }