@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
body, html{
  font-family: 'IBM Plex Sans KR', sans-serif;
}

a, a:link{
  text-decoration: none !important;
  color: #333 !important;
}
a:hover{
  color: #333;
}
li{
  list-style: none;
}
.link{
  color: #333;
}



